.footer{
    background-color: #f1f5f8;
}
.footer .contact{
    -webkit-align-items:center;
}
.footer .contact .left p{
    margin: 20px 0;
    line-height:25px;
    font-size:18px;
    font-family:PingFangSC-Regular;
    color:rgba(197,199,203,1);
}
.footer .contact .right{
    padding: 60px 15px 30px 15px;
}
.footer .contact .right a{
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    position: relative;
}
.footer .contact .right a:last-child{
    margin-left: 0;
}
.footer .contact .right .wechat:hover:after{
    display: block;
}
.footer .contact .right .wechat:after{
    display: none;
    position: absolute;
    top:-158px;
    left: 50%;
    margin-left: -60px;
    content: '';
    width: 120px;
    height: 120px;
    background: #fff url("../images/qrcode@2x.png") no-repeat center;
    box-shadow: 0px 5px 30px 0px rgba(124,138,192,0.2);
    border-radius: 4px ;
    z-index: 100;
}
.facebook{
    background: url("../images/icon_facebook@2x.png");
}
.facebook:hover{
    background: url("../images/icon_facebook_hover@2x.png");
}
.twitter{
    background: url("../images/icon_twitter@2x.png");
}
.twitter:hover{
    background: url("../images/icon_twitter_hover@2x.png");
}
.wechat{
    background: url("../images/icon_wechat@2x.png");
}
.wechat:hover{
    background: url("../images/icon_wechat_hover@2x.png");
}
.github{
    background: url("../images/icon_github@2x.png");
}
.github:hover{
    background: url("../images/icon_github_hover@2x.png");
}
.telegram{
    background: url("../images/icon_telegram@2x.png");
}
.telegram:hover{
    background: url("../images/icon_telegram_hover@2x.png");
}
.reddit{
    background: url("../images/icon_reddit@2x.png");
}
.reddit:hover{
    background: url("../images/icon_reddit_hover@2x.png");
}
.footer .divide{
    width:100%;
    height:1px;
    margin: 0 auto;
    background:rgba(224,224,224,1);
}
.footer .copyright{
    line-height: 40px;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .logoBottom{
    float: left;
}
.footer .copyright p{
    float: right;
    font-size:14px;
    color:rgba(197,199,203,1);
}