.news {
  padding-top: 64px;
  padding-bottom: 50px;
}
.news .news-list li {
  padding: 50px 0 40px 0;
  border-bottom: 1px solid #EDEDED;
}
.news .news-list li h5 {
  font-size: 24px;
  font-family: PingFangSC-Medium;
  color: #4c5155;
  line-height: 33px;
  margin: 0 0 20px;
  font-weight: 500;
}
.news .news-list li h6 {
  font-size: 16px;
  font-family: Ubuntu;
  color: #8c8c8c;
  line-height: 18px;
  margin: 0 0 15px 0;
  font-weight: 500;
}
.news .news-list li p {
  font-size: 16px;
  font-family: Ubuntu;
  color: #4c5155;
  line-height: 28px;
  margin: 0 0 13px 0;
}
.news .news-list li a {
  font-size: 16px;
  font-family: PingFangSC-Regular;
  color: #3291ff;
  line-height: 22px;
}
.news .pagination-box {
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.news .pagination-box .pagination {
  margin: 0 0 50px 0;
}
.news-detail {
  margin-bottom: 80px;
  margin-top: 80px;
}
.news-detail h5 {
  text-align: center;
  font-size: 24px;
  font-family: PingFangSC-Medium;
  color: #4c5155;
  line-height: 33px;
  margin: 0 0 20px;
  font-weight: 500;
}
.news-detail h6 {
  font-size: 16px;
  font-family: Ubuntu;
  color: #8c8c8c;
  line-height: 18px;
  margin: 0 0 30px 0;
  font-weight: 500;
  text-align: right;
}
.news-detail .rich-text {
  font-size: 16px;
  line-height: 24px;
}
.news-detail .rich-text img {
  max-width: 100%;
}
