.navbar-default {
  background: #fff;
  box-shadow: 0px 1px 9px 0px rgba(203, 208, 228, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  z-index: 999;
}
.navbar-default .navbar-collapse a {
  text-decoration: none;
  line-height: 30px;
  color: #BBC1D3;
  font-size: 14px;
}
.navbar-default .navbar-collapse a:hover {
  color: #73799c;
  background: #fff;
}
.navbar-default .navbar-collapse .active {
  color: #73799c;
}
.navbar-default .navbar-collapse .active a {
  background: #fff;
}
.navbar-default .language {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}
.navbar-default .language ul {
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 100;
  width: 124px;
  background: rgba(255, 255, 255, 0.4);
  display: none;
}
.navbar-default .language ul li {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.navbar-default .language ul li a {
  color: #fff;
}
.navbar-default .language ul li img {
  width: 20px;
  height: 14px;
  margin-right: 15px;
}
.navbar-default .language ul li:hover {
  background: #1B76FF;
}
.navbar-default .language ul li:hover a {
  background: transparent;
  color: #fff;
}
