.navbar-default {
  background: #fff;
  height: 60px;
  box-shadow: 0px 1px 9px 0px rgba(203, 208, 228, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
}
.navbar-default .navbar-collapse a {
  text-decoration: none;
  line-height: 30px;
  color: #BBC1D3;
  font-size: 14px;
}
.navbar-default .navbar-collapse a:hover {
  color: #73799c;
  background: #fff;
}
.navbar-default .navbar-collapse .active {
  color: #73799c;
}
.navbar-default .navbar-collapse .active a {
  background: #fff;
}
.navbar-default .language {
  position: relative;
}
.navbar-default .language ul {
  position: absolute;
  top: 60px;
  left: 0;
}
