//小于400px
@media all and (max-width: 400px) {

}
// 小屏幕（平板，小于等于 768px）
@media all and (min-width: 401px) and (max-width: 768px) {

}
@media all and (max-width: 768px){
  .navbar-default .language ul{
    width: 100%;
  }
  .goTop{
    right: 30px;
    bottom: 50px;
  }
  .title h3{
    font-size: 26px;
  }
  .title h3:before{
    width: 50px;
  }
  .title h3:after{
    width: 50px;
  }
  .timeAxis{
    display: none;
  }
  .timeAxis-sm{
    display: block;
  }
}
//中等屏幕（桌面显示器，小于等于 992px）
@media all and (min-width: 767px) and (max-width: 992px) {

}
@media all and (max-width: 992px){

}
// 大屏幕（大桌面显示器，大于等于 1200px）
@media all and (min-width: 993px) and (max-width: 1200px) {

}
@media all and (max-width: 1200px){

}