.news{
  padding-top: 64px;
  .title{
    text-align: center;
  }
  .title h3{
    height:48px;
    line-height:48px;
    font-size:34px;
    font-family:PingFangSC-Regular;
    color:rgba(76,81,85,1);
    margin: 0 auto;
    font-weight: normal;
  }
  .title h3:before{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-right: 20px;
    background:rgba(216,216,216,1);
  }
  .title h3:after{
    vertical-align: 20%;
    display: inline-block;
    content: '';
    width:100px;
    height:1px;
    margin-left: 20px;
    background:rgba(216,216,216,1);
  }
  .title .sec-title{
    height:25px;
    line-height:26px;
    font-size:22px;
    font-family:Ubuntu;
    color:rgba(197,199,203,1);
    margin: 10px 0 14px;
  }
  .news-list{
    width: 970px;
    margin: 0 auto 50px auto;
    li{
      padding: 50px 0 40px 0;
      border-bottom: 1px solid #EDEDED;
      h5{
        font-size:24px;
        font-family:PingFangSC-Medium;
        color:rgba(76,81,85,1);
        line-height:33px;
        margin: 0 0 20px;
        font-weight: 500;
      }
      h6{
        font-size:16px;
        font-family:Ubuntu;
        color:rgba(140,140,140,1);
        line-height:18px;
        margin: 0 0 15px 0;
        font-weight: 500;
      }
      p{
        font-size:16px;
        font-family:Ubuntu;
        color:rgba(76,81,85,1);
        line-height:28px;
        margin: 0 0 13px 0;
      }
      a{
        font-size:16px;
        font-family:PingFangSC-Regular;
        color:rgba(50,145,255,1);
        line-height:22px;
      }
    }
  }
  .pagination-box{
    width: 970px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .pagination{
      margin: 0 0 50px 0;
    }
  }
}
.news-detail{
  width: 970px;
  margin: 80px auto;
  h5{
    text-align: center;
    font-size:24px;
    font-family:PingFangSC-Medium;
    color:rgba(76,81,85,1);
    line-height:33px;
    margin: 0 0 20px;
    font-weight: 500;
  }
  h6{
    font-size:16px;
    font-family:Ubuntu;
    color:rgba(140,140,140,1);
    line-height:18px;
    margin: 0 0 30px 0;
    font-weight: 500;
    text-align: right;
  }
  .rich-text{
    font-size: 16px;
    line-height: 24px;
    img{
      max-width: 100%;
    }
  }
}